body {
  background-color: black;
  color: orangered;
  font-family: "Oswald", sans-serif;
}

.main-header {
  color: white;
  margin: 60px auto;
}

.cool {
  color: red;
}
.cool {
  text-align: center;
}

.main-header {
  text-align: center;
}

.background {
  text-align: center;
}

.image {
  background-image: url(queen.jpg);
  background-position: center;
  margin-right: 25px;
}
