body {
  background-color: black;
  color: orangered;
  font-size: 25;
}

.main-header {
  color: white;
}

.cool {
  color: red;
}
.cool {
  text-align: center;
}

.main-header {
  text-align: center;
}

.queen {
  text-align: center;
}
