body {
  background-color: black;
  color: orangered;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 40px;
}

.text {
  color: white;
  text-align: center;
}

.image {
  background-image: url(queen.jpg);
  margin-top: 50px;
}

.body {
  text-align: center;
}

.link {
  text-align: center;
  margin-top: 50px;
}

.text2 {
  margin-top: 250px;
  color: blue;
}

.text3 {
  padding-bottom: 50px;
  border-radius: 20px;
  border: 10px solid crimson;
  color: darkturquoise;
}
